<div>
    <article class="hentry" role="article">
         <header>
            <h1 class="entry-title">$title$</h1>
            <p class="meta">
                <time class='entry-date' datetime='$date_full$'><span class='date'>$date$</span></time>
              | <a href="#disqus_thread">comentários</a>
            </p>
        </header>
        <div class="entry-content">$body$</div>
    </article>
    <section>
        <h1>Comentários</h1>
        <div id="disqus_thread" aria-live="polite"><noscript>Por favor, habilite javascript para visualizar <a href="http://disqus.com/?ref_noscript">comentários do Disqus.</a></noscript>
        </div>
    </section>
</div>
